# librerie:
polars>=0.20.0  # per carivare file .tsv della cantina e fare operazioni di pulizia e media
numba>=0.58.0   # per il calcolo matematico di python, trasformazione dati in array
numpy>=1.26.0   # compilatore Just-in-Time, trasforma il ciclo della formula di stress in cod.macchina veloce
wandb    # strumento di tracciameto
joblib   # parallelizzazione del calcolo delle cisterne, usa tutti i core del processore
pytest   # framework di test, esegue automaticamente la cartella di tests/
black    # CodeFormat, standard PEP 8 

# ho aggiunto >= per assicurare la versione aggiornata delle librerie
# evitare anche che un aggiornamento futuro rompa il codice